{
  "openapi": "3.0.3",
  "info": {
    "title": "OkRecall API",
    "version": "1.0.0",
    "description": "API for creating and retrieving call jobs."
  },
  "servers": [
    {
      "url": "https://prod.okrecall.ai"
    }
  ],
  "paths": {
    "/api/v1/tasks/workflow/batch": {
      "post": {
        "summary": "Create a new call job batch",
        "operationId": "createCallJobBatch",
        "requestBody": {
          "description": "Request payload for creating a batch of call jobs.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCallJobBatchReq"
              },
              "example": {
                "workflow_id": "xxx",
                "leads": [
                  {
                    "phone_number": "xxx",
                    "country_code": "SG",
                    "customer_id": "xxx",
                    "customer_data": {
                      "name": "John Doe",
                      "email": "john.doe@example.com"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call job batch created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseCreateCallJobBatchResp"
                },
                "example": {
                  "data": {},
                  "status": "success",
                  "errorMessage": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request – e.g., invalid request format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid JWT token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error – something went wrong on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
      }
    },
    "schemas": {
      "CreateCallJobBatchReq": {
        "type": "object",
        "required": ["workflow_id", "leads"],
        "properties": {
          "workflow_id": {
            "type": "string",
            "description": "Identifier for the call workflow."
          },
          "leads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeadInfo"
            },
            "description": "List of leads for the batch."
          }
        }
      },
      "LeadInfo": {
        "type": "object",
        "required": ["phone_number", "customer_id", "customer_data"],
        "properties": {
          "phone_number": {
            "type": "string",
            "description": "Phone number of the lead."
          },
          "country_code": {
            "type": "string",
            "description": "Country code of the lead."
          },
          "customer_id": {
            "type": "string",
            "description": "Your unique identifier for the customer."
          },
          "customer_data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Arbitrary JSON object containing customer details."
          }
        }
      },
      "APIResponseCreateCallJobBatchResp": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "batch_id": {
                "type": "string",
                "description": "Identifier of the created call job batch."
              }
            }
          },
          "status": {
            "type": "string",
            "description": "Response status indicator.",
            "example": "success"
          },
          "errorMessage": {
            "type": "string",
            "nullable": true,
            "description": "Error message, if any."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "nullable": true,
            "description": "Typically null on errors."
          },
          "status": {
            "type": "string",
            "description": "Response status indicator."
          },
          "errorMessage": {
            "type": "string",
            "description": "Error message detailing the issue."
          }
        }
      }
    }
  }
}
